<p id="notice"><%= notice %></p>

<h1>Listing Members</h1>

<table>
  <thead>
    <tr>
      <th>Hhmemberin</th>
      <th>Hhmembergen</th>
      <th>Hhmemberage</th>
      <th>Hhmemberrel</th>
      <th>Hhmemberuasid</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.hhmemberin %></td>
        <td><%= member.hhmembergen %></td>
        <td><%= member.hhmemberage %></td>
        <td><%= member.hhmemberrel %></td>
        <td><%= member.hhmemberuasid %></td>
        <td><%= member.entry_id %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
