<p id="notice"><%= notice %></p>

<p>
  <strong>Hhmemberin:</strong>
  <%= @member.hhmemberin %>
</p>

<p>
  <strong>Hhmembergen:</strong>
  <%= @member.hhmembergen %>
</p>

<p>
  <strong>Hhmemberage:</strong>
  <%= @member.hhmemberage %>
</p>

<p>
  <strong>Hhmemberrel:</strong>
  <%= @member.hhmemberrel %>
</p>

<p>
  <strong>Hhmemberuasid:</strong>
  <%= @member.hhmemberuasid %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @member.entry_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
